@font-face{
    font-family: Montserrat;
    src: url(./fonts/Montserrat-Regular.ttf)
    format(truetype);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    width: 100%;
    font-family: Montserrat;
    background: #121517;
    background-image: url(./images/body-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* header */
header{
    display: flex;
    gap: 94px;
    align-items: center;
    padding: 48px 130px;
}
.site-logo{
    font-size: 37.6px;
    font-weight: 1000;
    background: linear-gradient(-77deg,#237249, #35C66B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-lists{
    display: flex;
    gap: 93px;
}
.nav-lists a{
    font-size: 19px;
    color: #D9D9D9;
}
.media-menu{
    display: none;
}

@media(max-width: 428px){
    header{
        justify-content: space-between;
        padding: 34px 25px;
    }
    .site-logo{
        font-size: 22px;
    }
    .media-menu{
        display: block;
    }
    nav{
        display: none;
    }


}

/* header */

/* main */
/* hero */
.hero{
    padding: 15px 130px;
}
.hero-top{
    display: flex;
    gap: 55px;
}
.hero-top-left{
    display: flex;
    flex-direction: column;
    gap: 54px;
    max-width: 574px;
}
.hero-top-left h1{
    font-size: 80px;
    font-weight: 800;
    color: white;
}
.hero-top-left h1 span{
    background: linear-gradient(-77deg,#237249, #35C66B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-top-left p{
    font-size: 20px;
    color: #D9D9D9;
}
.hero-top-left_btns{
    display: flex;
    gap: 16px;
}
.first-btn{
    padding: 20px 78px;
    font-size: 24px;
    color: white;
    background: linear-gradient(-30deg, #237249, #35C66B);
    border: none;
    outline: none;
    border-radius: 82px;
}
.second-btn{
    padding: 19px 53px;
    color: #D9D9D9;
    font-size: 24px;
    font-weight: 400;
    border: none;
    outline: none;
    background: #0B0C0D;
    border-radius: 82px;
}
.second-btn-border{
    padding: 1px;
    width:  164.5px;
    height: 68px;
    border-radius: 82px;
    background: linear-gradient(135deg, #D9D9D9, #121517);
}
.hero-stats{
    display: flex;
    gap: 46px;
}
.stat-list{
    display: flex;
    flex-direction: column;
}
.stat-list h2{
    font-size: 62px;
    color: white;
}
.stat-list h2 span{
    color: #35C66B;
}
.stat-list p{
    color: #D9D9D9;
    font-size: 20px;
}

.hero-top-right{
    position: relative;
    top: -65px;
    left: 110px;
}

.hero-bottom{
    display: flex;
    justify-content: center;
    padding: 50px 130px 100px 130px;
    position: relative;
}
.hero-bottom-container{
    display: flex;
    justify-content: space-around;
    width: 1029px;
    height: 372px;
    background: #dfdfdf;
    border-radius: 46px;
    position: relative;
}
.hero-bottom-sign{
    position: absolute;
    left: 45px;
    top: -40px;
    z-index: 10;
}
.list1{
    margin-top: 50px;
    margin-bottom: 70px;
}
.li-img1{
    width: 150px;
    height: 150px;
}
.list-p1{
    margin-top: 52px;
}
.list2{
    margin-top: 17px;
}
.bottom-list h3{
    font-size: 36px;
    text-align: center;
}
.bottom-list p{
    font-size: 20px;
    text-align: center;
}


@media(max-width: 428px){
    .hero{
        padding: 5px 25px;
    }
    .hero-top{
        gap: 26px;
        flex-direction: column-reverse;
    }
    .hero-top-right img{
        width: 271px;
        height: 381px;
    }
    .hero-top-left{
        max-width: 350px;
        gap: 36px;
    }
    .hero-top-left h1{
        font-size: 48px;
    }    
    .hero-top-left p{
        font-size: 12px;
    }
    .hero-top-left_btns button{
        font-size: 16px;
    }
    .first-btn{
        padding: 15px 52px;
        border-radius: 55px;
    }
    .second-btn{
        padding: 15.4px 36.7px;
        border-radius: 55px;
    }
    .second-btn-border{
        padding: 1px;
        width:  113px;
        height: 51px;
        border-radius: 55px;
        background: linear-gradient(135deg, #D9D9D9, #121517);
    }.hero-top-right{
        position: static;
        display: flex;
        justify-content: center;
    }

    .stat-list h2{
        font-size: 41px;
        font-weight: 400;
    }
    .stat-list p{
        font-size: 12px;
        font-weight: 400;
    }

    .hero-bottom{
        padding: 50px 105px;
    }
    .hero-bottom-container{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 218px;
        height: 602px;
        border-radius: 26px;
        padding: 20px 42px;
    }
    .hero-bottom-sign{
        left: 230px;
        top: -15px;
        z-index: 10;
        width: 118px;
        height: 118px;
    }
    .list1{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .list2{
        margin-top: 0;
        margin-bottom: 0;
    }
    .li-img1{
        width: 86px;
        height: 86px;
    }
    .li-img2{
        width: 136px;
        height: 136px;
    }
    .li-img3{
        width: 136px;
        height: 136px;
    }
    .bottom-list h3{
        font-size: 18px;
    }
    .bottom-list p{
        font-size: 11px;
    }
    .list-p1{
        margin-top: 10px;
    }





}
/* hero */

/* make */
.make{
    padding: 0 126px 60px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.make-right{
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 457px;
}
.make-right h2{
    font-size: 80px;
    font-weight: 900;
    color: white;
    line-height: 109%;
}
.make-right h2 span{
    color: #35C66B;
}
.make-right p{
    font-size: 20px;
    color: #D9D9D9;
}
.make-right img{
    width: 447px;
    height: 275px;
}


@media(max-width: 428px){
    .make{
        padding: 30px 56px 60px 23px;
        flex-direction: column;
        align-items: start;
        gap: 48px;
    }
    .make-left img{
        width: 210px;
        height: 290px;
    }
    .make-right{
        gap: 35px;
        max-width: 340px;
    }
    .make-right h2{
        font-size: 48px;
    }
    .make-right p{
        font-size: 14px;
    }
    .make-right img{
        width: 255px;
        height: 163px;
    }
}
/* make */

/* products */
.products{
    padding: 0 0 80px 124px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.products-top{
    display: flex;
    gap: 80px;
    align-items: center;
}
.products-top h2{
    font-size: 80px;
    color: white;
    font-weight: 900;
    max-width: 400px;
    line-height: 109%;
}
.products-top h2 span{
    color: #35C66B;
}
.products-top p{
    max-width: 450px;
    color: #D9D9D9;
    font-size: 20px;
    line-height: 163%;
}
.products-bottom{
    position: relative;
}
.products-bottom img{
    margin-left: 9px;
    margin-right: 9px;
}
.product4{
    position: absolute;
    top: 26px;
    left: -125px;
}

@media(max-width: 428px){
    .products{
        padding: 0 24px;
    }
    .products-top{
        flex-direction: column;
        gap: 40px;
        align-items: start;
    }
    .products-top h2{
        font-size: 48px;
        max-width: 270px;
    }
    .products-top p{
        max-width: 260px;
        font-size: 13px;
    }
    .products-top p span{
        display: none;
    }
    .products-bottom img{
        margin-left: 0px;
        margin-right: 0px;
    }
    .product4{
        position: absolute;
        top: 0px;
        left: -25px;
        height: 366px;
    }
    .product3{
        height: 366px;
        padding-left: 50px;
    }
    .product1{
        display: none;
    }
    .product2{
        display: none;
    }

}
/* products */

/* events */
.events{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 130px 80px 130px;
}
.events-top{
    display: flex;
    gap: 80px;
    padding-left: 355px;
}
.events-top p{
    font-size: 20px;
    color: #D9D9D9;
    max-width: 469px;
    margin-top: 17px;
    line-height: 163%;
}
.events-top h2{
    font-size: 80px;
    max-width: 360px;
    color: white;
    line-height: 109%;
}
.events-top h2 span{
    color: #35C66B;
}
.events-bottom{
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
}
.events-bottom div{
    display: flex;
    gap: 24px;
}
.events-bottom div img{
    border-radius: 30px;
}
.event-arrow{
    display: none;
    position: absolute;
}


@media(max-width: 428px){
    .events{
        gap: 38px;
        padding: 64px 29px 440px 100px;
        position: relative;
    }
    .events-top{
        flex-direction: column-reverse;
        gap: 36px;
        padding-left: 0;
    }
    .events-top p{
        font-size: 14px;
        line-height: 163%;
        margin-top: 0;
        max-width: 290px;
    }
    .events-top h2{
        font-size: 48px;
        max-width: 290px;
        line-height: 109%;
    }
    .events-bottom{
        position: absolute;
        top: 350px;
    }
    .event-row1 img{
        width: 349px;
    }
    .event-row2 img{
        width: 228px;
    }
    .events-bottom div{
        gap: 13px;
    }
    .events-bottom div img{
        border-radius: 17px;
    }
    .event-arrow{
        display: block;
        top: 132px;
        left: -80px;
    }

}
/* events */

/* contact */
.contact{
    padding: 60px 130px 60px 130px;
    display: flex;
    justify-content: space-between;
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 400px;
}
.contact-text{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.contact-text h2{
    font-size: 80px;
    color: white;
    line-height: 109%;
    font-weight: 1000;

}
.contact-text h2 span{
    color: #35C66B;
}
.contact-text p{
    font-size: 20px;
    color: #D9D9D9;
    line-height: 163%;
}
.contact-link{
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.contact-link div{
    display: flex;
    gap: 11px;
    align-items: center;
}
.contact-link div a{
    color: white;
    font-size: 32px;
}
.contact-right{
    position: relative;
}
.contact-sign{
    position: absolute;
    top: -40px;
    left: -25px;
}


@media(max-width: 428px){
    .contact{
        padding: 0px 25px 60px 25px;
        flex-direction: column-reverse;
        justify-content:start;
    }
    .contact-main-img{
        width: 175px;
    }
    .contact-right{
        padding-left: 205px;
        position: relative;
    }
    .contact-sign{
        width: 112px;
        position: absolute;
        top: 50px;
        left: 45px;
    }
    .contact-text{
        gap: 36px;
    }
    .contact-text h2{
        font-size: 48px;
        max-width: 230px;
    }
    .contact-text p{
        font-size: 14px;
        max-width: 330px;
    }
    .contact-link img{
        width: 38px;
    }
    .contact-link div a{
        font-size: 21px;
    }
}
/* contact */
/* main */

/* footer */
footer{
    display: flex;
    flex-direction: column;
    padding: 38px 121px 45px 121px;
    gap: 80px;
    background: #0B0C0D;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-top h2{
    font-size: 37px;
    color: #35C66B;
    font-weight: 700;
    line-height: 109%;
}
.footer-top div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer-top div h3{
    font-size: 20px;
    color: white;
    font-weight: 400;
}
.footer-top div p{
    font-size: 20px;
    font-weight: 400;
    color: #BBB3B3;
}
.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-bottom a{
    font-size: 26px;
    color: #35C66B;
}
.footer-media-top{
    display: none;
}
.footer-media-middle{
    display: none;
}

@media(max-width: 428px){
    footer{
        padding: 21px 25px;
        gap: 36px;
    }
    .footer-top{
        display: none;
    }
    .footer-media-top{
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-media-top h2{
        font-size: 25px;
        font-weight: 800;
        color: #35C66B;
    }
    .footer-media-top img{
        width: 53px;
    }
    .footer-media-middle{
        display: grid;
        grid-template-columns: repeat(3, auto);
        color: white;
        gap: 28px;
        justify-content: space-between;
    }
    .footer-media-middle div{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .footer-media-middle div h3{
        font-size: 15px;
        font-weight: 400;
    }
    .footer-media-middle div p{
        color: #BBB3B3;
        font-size: 15px;
    }
}
/* footer */